export PROJECT_DIR="$(pwd -P)"
export DATA_DIR="$PROJECT_DIR/data"
export PATH="$PROJECT_DIR/local/bin:$PATH"
export MANPATH="$PROJECT_DIR/local/share/man:$MANPATH"
export PATH="$PROJECT_DIR/local/miniconda/bin:$PATH"

if [[ -d "$PROJECT_DIR/local/miniconda/envs/{{ cookiecutter.repo_name }}" ]]; then

    source activate {{ cookiecutter.repo_name }}
fi
