export PROJECT_DIR="$(pwd -P)"
export DATA_DIR="$PROJECT_DIR/data"
export PATH="$(pwd -P)/local/bin:$PATH"
export MANPATH="(pwd -P)/local/share/man:$MANPATH"

if [[ -d "$(pwd -P)/local/miniconda/envs/{{ cookiecutter.repo_name }}" ]]; then

    export PATH="$(pwd -P)/local/miniconda/bin:$PATH"
    export MANPATH="$(pwd -P)/local/miniconda/envs/{{ cookiecutter.repo_name }}/share/man/man1:$MANPATH"

    source activate $(grep name: environment.yml | sed -e 's/name: //' | cut -d "'" -f 2 | cut -d '"' -f 2)
fi
