export PROJECT_DIR="$(pwd -P)"
export DATA_DIR="$PROJECT_DIR/data"
export PATH="$(pwd -P)/local/miniconda/bin:$PATH"
export PATH="$(pwd -P)/local/bin:$PATH"
source activate $(grep name: environment.yml | sed -e 's/name: //' | cut -d "'" -f 2 | cut -d '"' -f 2)
